{% extends 'GHActivityStreamSandboxBundle::layout.html.twig' %}

{% block content_content %}
{% endblock content_content %}

{% block page_header %}
	<div class="page-header">
		<h2>{% block headline %}Welcom to ActivityStreamSandboxBundle{% endblock headline %}</h2>
		<p>
		This is the live doc ActivityStreamBundle.<br/>
		A simple project management systeme that implement the activity stream  
		</p>
	</div>
{% endblock page_header %}