.activity_stream_icon {
    display: block;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url("../images/icon/white-32.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
